@import "tailwindcss";

body {
    font-family: 'Iosevka Web', sans-serif !important;
}

#content {
    font-family: 'Iosevka Web', sans-serif !important;
}

#content pre {
    margin: .5rem 0;
    width: 100%;
    overflow: auto;
    padding: .5rem .7rem;
    border: 1px solid #50FA7B;
    border-radius: .25rem;
    box-shadow: 0 10px 20px #50FA7B;
}

#content pre code {
    font-family: 'Iosevka Web', sans-serif !important;
}

#content div {
    width: 100%;
    margin: .5rem 0;
}

#content a {
    color: #8BE9FD;
    text-decoration: underline;
}

@theme { 
    --color-*: initial;
    --color-dracula-bg: #282A36;
    --color-dracula-fg: #F8F8F2;
    --color-dracula-selection: #44475A;
    --color-dracula-comment: #6272A4;
    --color-dracula-red: #FF5555;
    --color-dracula-orange: #FFB86C;
    --color-dracula-yellow: #F1FA8C;
    --color-dracula-green: #50FA7B;
    --color-dracula-purple: #BD93F9;
    --color-dracula-cyan: #8BE9FD;
    --color-dracula-pink: #FF79C6;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}


input {
    outline: none;
}
input:focus{
    outline:none;
}